<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mulligan$</title>
    <link rel="icon" type="image/x-icon" href="https://m.media-amazon.com/images/I/81p+NTRQ1RL._AC_SX522_.jpg">
    <%- include("../imports.ejs") %>
</head>
<body>
    <h1> Did you make a mistake, go ahead and fix it below!</h1>

    <a href="/animals"><button>Back To the Kingdom</button></a>
</article>

<br/></br></br>
    <form method=POST action="/animals/<%= animal._id%>?_method=PUT">
        What is the Species? <input type="text" name="species" value="<%= animal.species %>"/>
        <br/>
        <br/>
        The Species is Extinct? <input type="checkbox" name="extinct" <%= animal.extinct ? 'checked' : '' %> />
        <br/></br>
        Where do you find this Species? <input type="text" name="location" value="<%= animal.location %>"/>
        <br/></br>
        What is the Species Life Expectancy? <input type="number" name="lifeExpectancy" value="<%= animal.lifeExpectancy %>"/>
        <br/></br>
        <input type="submit" value="Use a Mulligan with this Species!" />

    </form>

</body>
</html>